.footer {
    height: 450px;
    background-color: #232340;
    padding: 60px 0 0 0;
    .container {
        display: flex;
        justify-content: space-between;
    }
    &__list-box {
        display: flex;
        justify-content: space-between;
        width: 74%;
    }
    &__text {
        color: #fff;
        line-height: 26px;
        margin: 20px 0 0 0;
    }
    &__list {
        margin: 20px 0 0 0;
        &-title {
            font-size: 25px;
            font-weight: 400;
            line-height: 54px;
            color: #5468E7;
        }
        &-item a {
            font-style: 20px;
            font-weight: 400;
            text-decoration: none;
            line-height: 36px;
            color: #fff;
        }
    }
    &__input {
        font-size: 18px;
        font-weight: 700;
        background-color: rgba($color: #F5F5F5, $alpha: .24);
        padding: 10px 60px 10px 20px;
        border: none;
    }
}



@media screen and (max-width: 768px) {
    .footer {
        height: 700px;
        padding: 20px;
        .container {
            display: block;
        }
        &__list-box {
            flex-wrap: wrap;
        }
        &__list {
            margin: 40px 30px 0 0;
            &-item {
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .footer {
        height: 1200px;
        padding: 40px 20px;
        .container, &__list-box {
            // display: block;
            flex-direction: column;
        }
        &__list {
            margin: 30px 0;
        }
        .list {
            order: -2;
        }
    }
}