.section2 {
    &__box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0;
        &-title {
            width: 450px;
        }
        &-text {
            width: 400px;
            line-height: 24px;
            color: rgba($color: #232340, $alpha: .9);
            margin: 20px 0 40px 0;
        }
        &-calendar {
            position: absolute;
            top: 30px;
            left: 24%;
        }
        &-image {
            position: absolute;
            right: 30px;
            bottom: 30px;
            img {
                display: block;
                margin: 10px 0 0 0;
            }
        }
        &-image2 {
            position: absolute;
            left: 30px;
            bottom: 30px;
            img {
                display: block;
                margin: 10px 0 0 0;
            }
        }
    }
}



@media screen and (max-width: 768px) {
    .section2 {
        width: 100%;
        &__box {
            display: flex;
            width: 100%;
            img {
                width: 50%;
                height: 500px;
            }
            &-left {
                margin: 80px 0 80px 30px;
            }
            &-title {
                width: 80%;
            }
            &-text {
                width: 70%;
            }
            &-calendar {
                top: 80px;
                left: 21%;
                img {
                    width: 200px;
                    height: 100px;
                }
            }
            &-image {
                right: 30px;
                top: 70px;
                img:nth-child(2) {
                    height: 160px;
                }
                img {
                    width: 180px;
                    height: 90px;
                }
            }
            &-image2 {
                left: 25px;
                top: 260px;
                img:nth-child(1) {
                    height: 160px;
                }
                img {
                    width: 160px;
                    height: 90px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .section2 {
        width: 100%;
        &__box {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            &-img {
                order: 1;
            }
            img {
                width: 100%;
            }
            &-left {
                padding: 0 20px;
                margin: 80px 0 80px 0;
            }
            &-title {
                width: 80%;
            }
            &-text {
                width: 83%;
            }
            &-calendar {
                left: 44%;
                top: 20px;
                img {
                    width: 200px;
                    height: 100px;
                }
            }
            &-image {
                right: 25px;
                top: 20px;
                img:nth-child(2) {
                    height: 160px;
                }
                img {
                    width: 180px;
                    height: 90px;
                }
            }
            &-image2 {
                left: 25px;
                top: 200px;
                img:nth-child(1) {
                    height: 160px;
                }
                img {
                    width: 160px;
                    height: 90px;
                }
            }
        }
    }
}