.section3 {
    height: 600px;
    margin: 100px auto;
    &__title {
        text-align: center;
        margin: 0 0 40px 0;
    }
    &__wrapper {
        display: flex;
        justify-content: end;
        gap: 30px;
        &-box {
            width: 360px;
            box-shadow: 5px 5px 20px rgba($color: #7676B2, $alpha: .3);
            padding: 30px;
            .icon-box {
                display: flex;
            } 
            .fa-star {
                font-size: 18px;
                color: #FFBA79;
            }
            &-text {
                font-size: 18px;
                font-weight: 400;
                line-height: 26px;
                color: rgba($color: #232340, $alpha: .9);
                margin: 30px 0 50px 0;
            }
            &-img {
                display: flex;
                align-items: center;
                gap: 14px;
            }
        }
        .box1 {
            height: 420px;
        }
        .box2 {
            height: 370px;
        }
        .box3 {
            height: 400px;
        } 
    }
    .arrow-icons {
        display: flex;
        justify-content: end;
        margin: 40px 150px 0 0;   
        button {
            border: none;
            background: transparent;
            cursor: pointer;
        }    
    }
    .fa-arrow-left, .fa-arrow-right {
        font-size: 22px;
        color: #5468E7;
        margin: 0 10px;
    }
}


@media screen and (max-width: 768px) {
    .section3 {
        padding: 20px;
        .box3 {
            display: none;
        }
        .arrow-icons {
            justify-content: center;
            margin: 40px 0 0 0;       
        }
    }
}

@media screen and (max-width: 400px) {
    .section3 {
        padding: 20px;
        .box2, .box3 {
            display: none;
        }
        .arrow-icons {
            justify-content: end;
            margin: 40px 50px 0 0;       
        }
    }
}